/* poppins-300 - latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v8-latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'),
         url('../fonts/poppins-v8-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v8-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v8-latin-ext-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v8-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v8-latin-ext-300.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-regular - latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v8-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
         url('../fonts/poppins-v8-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v8-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v8-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v8-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v8-latin-ext-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v8-latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'),
         url('../fonts/poppins-v8-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v8-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v8-latin-ext-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v8-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v8-latin-ext-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }

  @font-face {
     font-family: 'dpoeodis';
     src:  url('../fonts//dpoeodis.eot?52qmka');
     src:  url('../fonts//dpoeodis.eot?52qmka#iefix') format('embedded-opentype'),
       url('../fonts//dpoeodis.ttf?52qmka') format('truetype'),
       url('../fonts//dpoeodis.woff?52qmka') format('woff'),
       url('../fonts//dpoeodis.svg?52qmka#dpoeodis') format('svg');
     font-weight: normal;
     font-style: normal;
   }
   
   [class^="icon-"], [class*=" icon-"] {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'dpoeodis' !important;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
   
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   .icon-calendar:before {
    content: "\e90a";
    color: #fff;
  }
  .icon-card_border:before {
    content: "\e900";
    color: #fff;
  }
  .icon-form_ico:before {
    content: "\e901";
    color: #fff;
  }
  .icon-ppl_border:before {
    content: "\e902";
    color: #fff;
  }
  .icon-ppl:before {
    content: "\e903";
    color: #fff;
  }
  .icon-reg_border:before {
    content: "\e904";
    color: #fff;
  }
  .icon-reg_ico:before {
    content: "\e905";
    color: #fff;
  }
  .icon-scale:before {
    content: "\e906";
    color: #fff;
  }
  .icon-wallet_border:before {
    content: "\e907";
    color: #fff;
  }
  .icon-warning_bus:before {
    content: "\e908";
    color: #fff;
  }
  .icon-warning_ico:before {
    content: "\e909";
    color: #fff;
  }
  