@import "variables";
@import "fonts";
@import "slick-theme";

body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  color: $gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray;
  font-weight: 300;
}

.btn {
  border: 1px solid $vine;
  color: $vine;

  &:hover{
    background: $vine;
    color: white;
  }
}

.btn-danger {
  color: white;
}

.select2-selection__choice {
  background-color: $vine;
  border: none;
  border-radius: 6px;
  cursor: default;
  float: left;
  color: white;
  margin-right: 5px;
  padding: 5px;
  list-style: none;
}

.zones {
  min-height: 50px;
}

.navbar {
  .navbar-brand {
    img {
      max-width: 140px;
      height: auto;
    }

    span {
      color: $gray;
      font-size: 0.8rem;
      display: block;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
    }
  }

  .navbar-toggler {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .navbar-toggler-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .navbar-toggler-icon span:nth-child(1) {
    top: 0px;
  }

  .navbar-toggler-icon span:nth-child(2),
  .navbar-toggler-icon span:nth-child(3) {
    top: 18px;
  }

  .navbar-toggler-icon span:nth-child(4) {
    top: 36px;
  }

  .navbar-toggler-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .navbar-toggler-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .navbar-toggler-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .navbar-toggler-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .loggedinuser {
    margin-left: 3rem;

    span {
      color: $vine;
      font-weight: bold;
    }

    a {
      color: $vine;
      text-decoration: underline;
    }

    .links {
      margin-left: auto;
      text-align: right;
    }
  }

  .loginmenu {
    margin-left: 3rem;

    .nav-item {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    .btn-login {
      background: $red;
      border: 1px solid $vine;
      color: white;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      i {
        display: inline-block;
        width: 20px;
        height: auto;
        margin-right: 0.5rem;
      }
    }

    .btn-language {
      border: 1px solid $yellow;
      color: $yellow;
      margin-left: 1rem;

      &.active {
        background: $yellow;
        color: white;
      }
    }
  }

  .nav-item {
    color: $gray;
    font-weight: 400;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    transition: all 0.5s ease-in-out;
    margin: 0 0.25rem;

    &.active,
    &:hover {
      color: white;
      background: $vine;
    }
  }

  .eshop {
    border: 1px solid $vine;
    color: $vine;
  }
}

.bgarrows {
  background: url(../images/arrows.png);
  background-repeat: repeat;
  background-color: #fafafa;
  background-position: bottom;
  background-repeat: space;
}

.tablebuttons {
  .btn {
    border-radius: 5px !important;
    margin-right: 1rem;
    background: transparent;
    color: $vine;
    border-color: #e3e3e3;

    &:hover {
      color: white;
      background: $vine;
    }
  }

  .clickable {
    font-weight: bold;
  }
}

.table {
  color: $gray;
  margin-bottom: 0;

  .table th {
    border-top: 1px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    font-weight: inherit;
  }

  tbody tr:nth-of-type(odd) {
    background: inherit;
  }

  tbody tr:nth-of-type(even) {
    background: #fafafa;
  }
}

.headmenu {
  .menu {
    margin-top: -75px;

    .menubtn {
      .wrap {
        @include linear-gradient($red, $vine);
        transition: all 0.5s ease-in-out;
        border: 1px solid white;
        border-radius: 5px;

        a {
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          width: 100%;
          height: 100%;
        }

        h2 {
          color: white;
          font-size: 1.1rem;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          margin: 0;
        }

        i {
          width: 110px;
          height: auto;
          display: block;
          margin: auto;

          span {
            font-size: 5rem;
            height: auto;
            color: white;

            &:before {
              transition: all 0.3s ease-in-out;
            }
          }
        }

        &:hover {
          @include linear-gradient($yellow, $darkeryellow);

          h2 {
            color: $vine;
          }

          span:before {
            color: $vine;
          }
        }
      }
    }
  }
}

.page-header {
  color: $lightgray;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}

.page-subheader {
  color: $lightgray;
  font-weight: bold;
  font-size: 2rem;
}


.content-subheader {
  color: $lightgray;
  font-size: 1.5rem;
}

.table td, .table th {
  border-top: none;
  vertical-align: middle;
}

.sum {
  color: $vine;
  font-weight: normal;

  span {
    font-weight: bold;
  }
}

.color-primary {
  color: $vine;
}

.pagination {
  a {
    color: $vine;

    &:hover {
      color: $vine;
    }
  }

  .page-item {
    &.active a {
      background: $vine;
      color: white;
    }
  }
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -60px;
}

.slick-prev:before {
  content: "<";
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
}

.slick-next:before {
  content: ">";
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
}

.slick-arrow:before {
  color: #d9d9d9;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.warnings {
  .card {
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    margin-bottom: 2rem;
    background-color: #fafafa;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);

    .card-body {
      position: relative;

      &::after {
        content: "";
        background: $red;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        width: 90%;
        height: 5px;
      }

      .date {
        background: $red;
        color: white;
        padding: 0.25rem 1rem;
        font-weight: 400;
        float: right;
        min-width: 150px;
        border: 1px solid #ebebeb;
        border-top: none;

        i {
          max-width: 20px;
          fill: white;
          margin-right: 0.25rem;
        }
      }

      .content {
        clear: both;

        i {
          width: 40px;
          height: 40px;
          display: block;

          span {
            font-size: 2rem;
            &:before {
              color: $red;
            }
          }
        }

        h4 {
          font-weight: bold;
          color: $gray;
          font-size: 1.2rem;
          text-transform: uppercase;
        }

        a {
          color: $red;
        }
      }
    }
  }
}

.page-content {
  background-color: white;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
}

.footer {
  @include linear-gradient($red, $vine);
  padding: 0.5rem 1rem;

  .color-yellow {
    color: $yellow;
    font-weight: bold;
    margin: 0;
  }

  ul {
    display: inline-block;
    margin: 0 1rem 0 0;
    list-style: none;
    padding: 0;
    float: left;

    li {
      margin: 0;
      padding: 0;

      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .btn-contactus {
    background: $yellow;
    color: $vine;
    font-weight: bold;
  }
}

.prectetesi {
  .slick-track {
    display: flex;

    .slick-slide {
      display: block;
    }
  }

  .slide {
    padding-right: 15px;
  }

  a {
    color: $red;
  }

  .slick-slide {
    overflow: hidden;

    img {
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

.howslider {
  .slick-track {
    display: flex;

    .slick-slide {
      display: flex;
      height: auto;
      align-items: center; //optional
      justify-content: center; //optional
    }
  }

  .slide {
    padding-right: 15px;
  }

  .content-wrap {
    background-color: $yellow;
    border-radius: 5px;
    overflow: hidden;

    i {
      position: absolute;
      top: 15%;
      font-size: 2rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;

      span {
        &:before {
          color: $yellow;
        }
      }
    }

    a {
      text-decoration: none;

      span {
        font-size: 4em;
        color: $red;
        font-weight: bold;
      }

      h3 {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}

.list-group {
  .list-group-item {
    color: $vine;

    &.active {
      color: white;
      background: $vine;
      border-color: $vine;
    }
  }
}

.tab-content {
  .tab-pane {
    .btn {
      color: $vine;
    }
  }
}

.requied {
  &::after {
    content: "*";
    font-weight: 700;
    color: $vine;
  }
}

.form-control:focus {
  border-color: #dee2e6;
  box-shadow: 0 0 0 0.2rem rgba(147, 0, 0, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: $vine;
  border-color: $vine;

  &:hover {
    color: #fff;
    background-color: $vine;
    border-color: $vine;
  }

  &:disabled,
  &.disabled {
    color: #fff;
    background-color: $vine;
    border-color: $vine;
  }
}

.hidden {
  display: none;
}

.content-header {
  font-weight: bold;
  color: $lightgray;
  font-size: 1.5rem;
}

.table-vcenter {
  td,
  th {
      vertical-align: middle;
  }
}

.links {
 a {
   color: $vine;
 }
}

.progress-bar {
  background-color: $vine;
}

a {
  color: $vine;
}

.table-fit {
  width: 1%;
  white-space: nowrap;
}

@media screen and (max-width: 1320px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

@media screen and (max-width: 1100px) {
  .navbar .loginmenu {
    margin-left: 0;
  }
}

@media screen and (max-width: 1035px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 0;
  }

  .loggedinnavbar {
    .navbar-nav .nav-link {
      margin: 1rem !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .headmenu {
    .menu {
      .menubtn {
        .wrap {
          i {
            width: 80px;
            height: auto;
            display: block;
            margin: auto;

            svg {
              max-width: 100%;
              height: auto;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  .loggedinnavbar {
    .loggedinuser {
      width: 100%;
      height: auto;
      text-align: center;
      margin-left: 0;

      .links {
        text-align: center;
      }
    }

    .loginmenu {
      flex-direction: row;

      .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }

    .navbar-toggler {
      margin: auto;
    }
  }

  .btn-language {
    max-width: 80px;
    margin: auto !important;
  }

  .nav-link {
    margin-bottom: 1rem !important;
  }

  .headmenu {
    .menu {
      .menubtn {
        .wrap {
          i {
            width: 100%;

            span {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }

  .loginmenu {
    margin: 0 !important;
  }

  .card-columns {
    column-count: 2;
  }

  .prectetesi .slick-track .slick-slide {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 850px) {
  .slick-arrow {
    display: none !important;
  }

  .headmenu > img {
    display: none;
  }

  .headmenu .menu {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center !important;

    img {
      padding: 1rem;
    }

    ul {
      display: block;
      float: inherit;
    }

    .footermenu {
      margin: 1rem;
    }

    .btn-contactus {
      background: $yellow;
      color: $vine;
      font-weight: bold;
    }
  }

  .logos {
    text-align: center !important;
  }

  .card-columns {
    column-count: 1;
  }

  .prectetesi .slick-track .slick-slide img {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .btn-group {
    display: block;

    .btn {
      width: 100%;
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  .loggedinnavbar {
    .navbar-brand {
      margin: auto;
      width: 100%;
      text-align: center;

      img {
        margin: auto;
      }
    }

    .loginmenu {
      margin: auto !important;
    }
  }
}
